<% include header.ejs %>

<h1>Ajouter une zone de danger</h1>


<div  class="container">
<form class="form-horizontal" action="ajout_zone" role="form" method="post">
					
	<div class="form-group">
		<label class="control-label">Nom de zone : </label>
		<div> 
			<input type="text" class="form-control" name="nom" >
		</div>
	</div>
	</br>
	
	<div class="form-group">
		<label  class="control-label" >Latitude : </label>
		<div> 
			<input type="number" class="form-control" step="any" name="lat" >
		</div>
	</div>
	</br>
	
	<div class="form-group">
		<label  class="control-label"  >Longitude : </label>
		<div> 
			<input class="form-control" type="number"  step="any" name="lng">
		</div>
	</div>
	</br>
	
	<div class="form-group">
		<label  class="control-label "  >Rayon : </label>
		<div> 
			<input class="form-control" type="number"  step="any" name="rayon">
		</div>
	</div>
	</br>
	
	<div class="form-group">
		<label>Type de zone :</label>
		<select class="form-control" name="type">
			<option value="Radioactif">Radioactif</option>
			<option value="Ebola">Ebola</option>
		</select>
	</div>
	</br>
	</br>
	
	<button type="submit" class="btn btn-default">Ajouter la zone</button>
</form>
</div>

					<%= erreur %> 

<% include footer.ejs %>
