<% include header.ejs %>

<h1>Ajouter une zone de danger</h1>

<form method="post">
	Nom de zone :<br />
	<input type="text" name="nom" /><br />

	Latitude :<br />
	<input type="number" step="any" name="lat" /><br />

	Longitude :<br />
	<input type="number" step="any" name="lng" /><br />

	Type de zone :<br />
	<select name"type">
		<option value="radioactif">Radioactif</option>
		<option value="ebola">Ebola</option>
	</select>

	<br />
	<br />

	<input type="submit" value="Ajouter la zone" />
</form>

<% include footer.ejs %>
