			<footer class="container-fluid text-center">
				<a href="/" title="To Top">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</a>
				<p>Made By Les Licornes Du Swag</p> 
				<a href="https://twitter.com/LicornesduSwag" title="Visit our twitter" onclick="window.open(this.href); return false;"> <img src="images/twitter.png" width="50" height="50" alt="Test"/></a>
				<a href="https://www.facebook.com/Les-Licornes-du-SWAG-480699648780758/?fref=ts" title="Visit our facebook" onclick="window.open(this.href); return false;"><img src="images/facebook.png" width="50" height="50" alt="Test"/></a>
			</footer>
		</div> 
	</body>
</html>
