			<footer class="container-fluid text-center">
				<a href="/" title="To Top">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</a>
				<p>Bootstrap Theme Made By Les Licornes Du Swag <a href="https://twitter.com/LicornesduSwag" title="Visit our twitter">twitter.com/LicornesduSwag</a></p> 
			</footer>
		</div> 
	</body>
</html>