<% include header.ejs %>
				<div class="jumbotron text-center">
					<h1>INSCRIPTION</h1> 
					<p>We specialize in blablabla</p>
					<form class ="form" role="form" action="do_inscription" method="post" onsubmit="return verif_pw()">
					
						<div class="form-group">
							<label for="login">Login : </label>
							<input type="text" class="form-control" id="login" placeholder="Enter login" name="login">
						</div>
						
						<div class="form-group">
							<label for="pwd">Password : </label>
							<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
						</div>
						
						<div class="form-group">
							<label for="pwd">Password check : </label>
							<input type="password" class="form-control" id="pwdC" placeholder="Confirm password" name="pwdC">
						</div>
						
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
					
					<script>
						function verif_pw(){
						
							var mdp = document.getElementById("pwd");
							var check = document.getElementById("pwdC");
							
							if(mdp.value === check.value){

								if(mdp.value.length < 6 ){
									alert("Mot de passe trop court (minimum 6 caractères)");
									mdp.value='';
									check.value='';
									return false;
								}
								return true;
							}
							
							else{
								alert("Confirmation de mot de passe différente.")
								mdp.value='';
								check.value='';
								return false;
							}
								
						}
				
					</script>
					
					
					<%= erreur %>
				</div>
			</div>
<% include footer.ejs %>
